body {
    margin: 0;
    font-family: sans-serif;
    background-color: #F4F6F6 ;

}

h1 {
    color: #ffffff;
}

header {
    background-color: #17202A;
    justify-content: center;
    display: flex;
}

nav {
    background-color: #17202A;
    padding-top: 1em;
   }

ul {
    display: flex;
    justify-content: left;
    list-style: none;
}

li {
    padding: 5px;
}

a {
    color: #ffffff;
}

main {
    justify-content: center;
    display: flex;
    padding: 1em;
}

.pro-con{
    width: 100%;  
    height: auto; 
    border: solid 1px #17202A;
    margin: 2vh;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    transform: scale(1.5); 
    margin: 3px;
    justify-content: left;
    display: flex;
}

footer {
    text-align: center;
}